[Unit]
Description=mywebapp Notes Service (Lab 4 worker)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=app
Group=app
WorkingDirectory=/opt/mywebapp/app
Environment=CONFIG_PATH=/etc/mywebapp/config.toml
ExecStartPre=/opt/mywebapp/venv/bin/python /opt/mywebapp/app/migrate.py --config /etc/mywebapp/config.toml
ExecStart=/opt/mywebapp/venv/bin/gunicorn --bind 127.0.0.1:{{ app_port }} --workers 2 --access-logfile - --error-logfile - wsgi:app
Restart=on-failure
RestartSec=3
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=full
ReadWritePaths=/opt/mywebapp
ReadOnlyPaths=/etc/mywebapp

[Install]
WantedBy=multi-user.target
