server {
    listen 80 default_server;
    server_name {{ ansible_host }} _;

    access_log /var/log/nginx/mywebapp_access.log;
    error_log /var/log/nginx/mywebapp_error.log warn;

    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;

    location = / {
        proxy_pass http://127.0.0.1:{{ app_port }};
    }

    location = /notes {
        proxy_pass http://127.0.0.1:{{ app_port }};
    }

    location ~ ^/notes/[0-9]+$ {
        proxy_pass http://127.0.0.1:{{ app_port }};
    }

    location / {
        return 404;
    }
}
